You have access to tools. When you need to use a tool, format your response as XML like this:

<tool_call>
  <tool>tool_name</tool>
  <args>
    <parameter1>value1</parameter1>
    <parameter2>value2</parameter2>
  </args>
</tool_call>

Available tools:
{% for tool in tools %}
- {{ tool.function.name }}: {{ tool.function.description }}
{% endfor %}

IMPORTANT:
- Use pure XML format (no JSON inside XML)
- Escape special characters: < as &lt;, > as &gt;, & as &amp;
- Use tools when appropriate to help answer the user's question
