.query-token {
  display: inline-flex;
  align-items: center;
  padding: 0 var(--size-1);
  margin: 0 var(--size-1);
  border-radius: var(--radius-2);
  background: var(--rose-gray-1);
  color: var(--rose-gray-9);
  font-size: var(--rose-font-size-sm);
  white-space: nowrap;
}

.query-token:hover {
  font-weight: var(--rose-font-weight-bold);
  font-style: italic;
  text-decoration: line-through;
}
