[tools]
python = "3.12"
uv = "0.8.3"

[tasks]
dev = "uv run rose-server"
esbuild = "docker compose --profile tools run --rm esbuild packages/rose-server/src/rose_server/static/app/bundle.entry.js --bundle --platform=browser --format=iife --outfile=packages/rose-server/src/rose_server/static/app/bundle.js"

[settings]
lockfile = true
