[tool.uv.workspace]
members = [
    "packages/rose-server",
]

[tool.uv]
dev-dependencies = [
    "ruff>=0.11.11",
    "pre-commit>=4.2.0",
    "mypy>=1.13.0",
    "types-aiofiles>=24.1.0.20250606",
    "types-psutil>=7.0.0.20250601",
    "sqlalchemy[mypy]>=2.0.0",
    "pytest>=8.3.5",
    "pytest-cov>=6.0.0",
    "pytest-asyncio>=0.26.0",
    "httpx>=0.28.1",
]

[tool.pytest.ini_options]
pythonpath = [
    "packages/rose-server/src",
]
testpaths = ["tests"]
asyncio_mode = "auto"

[tool.uv.sources]
rose-server = { workspace = true }

[tool.ruff]
line-length = 120
target-version = "py312"
fix = true

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.ruff.lint]
select = ["E", "F", "I"]
fixable = ["ALL"]
unfixable = []

[tool.ruff.lint.isort]
force-single-line = false
force-wrap-aliases = true
combine-as-imports = true

[tool.mypy]
python_version = "3.12"
plugins = ["sqlalchemy.ext.mypy.plugin"]
ignore_missing_imports = true
strict = true
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_unreachable = true
strict_equality = true

[[tool.mypy.overrides]]
module = [
    "sse_starlette.*",
]
ignore_errors = true
