@import "tailwindcss";

@theme {
  --color-rose-50: hsl(345 45% 98%);
  --color-rose-100: hsl(345 45% 95%);
  --color-rose-200: hsl(345 45% 88%);
  --color-rose-300: hsl(345 45% 76%);
  --color-rose-400: hsl(345 45% 64%);
  --color-rose-500: hsl(345 45% 52%);
  --color-rose-600: hsl(345 45% 40%);
  --color-rose-700: hsl(345 45% 30%);
  --color-rose-800: hsl(345 45% 22%);
  --color-rose-900: hsl(345 45% 16%);
  --color-rose-950: hsl(345 45% 8%);
}

@source "../templates";
@source "./src";
