@layer base, components, utilities;

@import "../vendor/open-props/normalize.min.css" layer(base);
@import "./styles/tokens.css" layer(base);
@import "./styles/base.css" layer(base);
@import "./styles/components.css" layer(components);
@import "./styles/utilities.css" layer(utilities);
